*{
    margin: 0;
    padding: 0;
     text-align: center;
 
}

body{
    width: 100vw;
    height: 100vh;
}

.contaner{
    margin: 3rem auto;
    width: 40%;
    height: 80%;
    border: 1px solid rgb(22, 22, 22);
}

 form{
    width: 100%;
    height: 80%;
     padding: 2rem 1rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 0.9rem;
    
 }

 .btn{
   width: 90%;
    margin-top: 3rem;
    padding: 0.4rem 0.3rem;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid rgb(104, 164, 241);
   color: rgb(85, 197, 241);
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
 }

 .btn:hover{
   color: white;
   background-color: rgb(176, 176, 252);
   
 }

 .contaner>h1, span{
   color: red;
 }

 span{
   font-size: 1.3rem;
 }

 input{
    width: 50%;
    padding: 0.8rem 1.7rem;
    border: none;
  background-color: rgb(243, 234, 234);
    margin-left: 2rem;
    border-bottom: 1px solid rgb(48, 47, 47);
 }

 span:hover{
   cursor: pointer;
 }

 h1{
    font-size: 2rem;
 }

 